<%- include("partials/header"); -%>
<div>
    <h3>
        Search for blood banks near your location
        <br>
       <input type="text" name="searchme" class="searchit" >
    </h3>
</div>

<%- include("partials/footer"); -%>