<%- include("partials/header"); -%>

    <div>
        <img src="/images/img1.jpg" alt="image1"><h3>
            Search for blood banks near your location
            <br>
            <button type="submit" class="btn btn-lg btn-danger">Search</button>
        </h3>
    </div>
    <div>
        <h3>
            Become a hero. Register yourself as blood donors
            <br>
            <a href="/register"><button type="submit" class="btn btn-lg btn-danger">Register</button></a>
        </h3><img class="img2" src="/images/img2.jpg" alt="image2">
    </div>
    <div>
        <img src="/images/img3.jpg" alt="image3"><h3>
            Know more about blood donation
            <br>
            <a href="/more"><button type="submit" class="btn btn-lg btn-danger">Know More</button></a>
        </h3>
    </div>

<%- include("partials/footer"); -%>