html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    background-color: #e5dff0;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

.navbar {
    background-color: #a20a0a;
}


img {
    display: inline-block;
    width: 50%;
}


h3 {
    display: inline-block;
    text-align: center;
    padding: 5%;
    width: 50%;
    font-size: 2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #a20a0a;
    padding: 10px;
}

button {
    margin-top: 20px;
}

.registerHeading {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 50px 0 30px;
}

.registerForm {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
